APP_NAME=RMS Backend
APP_PORT=8080
APP_ENV=development

DB_HOST=localhost
DB_PORT=5435
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=rms
DB_SSLMODE=disable
DB_MAX_CONNS=10

DB_HOST_DOCKER=postgres
DB_PORT_CONTAINER=5432
DB_PORT_HOST=5435

JWT_SECRET=super-secret-rms-key
JWT_EXPIRES_IN_SECONDS=3600
DB_MAX_CONNS=10

JWT_SECRET=super-secret-rms-key
JWT_EXPIRES_IN_SECONDS=3600
